@import (less) "vendor/theme-marketing/less/toolkit-bold.less";

@body-bg: white;
@font-size-base: 15px;
@link-color: @btn-default-bg;
@text-color: @gray-dark;

h3, h4 {
  color: @brand-success;
}

h1 {
  text-transform: uppercase;
  letter-spacing: -1px;
}
