@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600);

@import (less) "vendor/theme-marketing/less/toolkit-bold.less";
@import (less) "node_modules/font-awesome/less/font-awesome.less";

@brand-primary: #004dab;
@font-size-base: 16px;
@letter-spacing-base: normal;
@grid-gutter-width: 50px;
@font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

.block-top-border-primary {
  border-top: @brand-primary solid 6px;
}
